@charset "utf-8";
/* ホバーしてぼかす */
.img-blur {
  transition: .4s;
}
.img-blur:hover {
  filter: blur(4px);
}

/* ホバーした画像以外をぼかす */
.blur-wrapper {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
}
.blur-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .4s;
}
.blur-wrapper:hover img:not(:hover) {
  filter: blur(4px);
}

/* 基本スタイル */
body {
  padding: 1rem;
}
img {
  display: block;
}
h2 {
  margin-top: 3rem;
}