@charset "utf-8";
.img-float {
  width: 300px;
  height: 300px;
  object-fit:cover;
  border-radius: 50%;
  animation: float 5s ease-in-out infinite;
}
@keyframes float {
  0%, 100% {
    translate: 0;
  }
  50% {
    translate: 0 -20px;
    rotate: 4deg;
  }
}

/* ふよふよ形が動く */
.img-fluid {
  width: 300px;
  height: 300px;
  object-fit: cover;
  animation: fluid-shape 20s linear infinite;  
}
@keyframes fluid-shape {  
  0%, 100% {
      border-radius: 60% 35% 55% 45%/55% 50% 50% 45%;
  }
  25% {
      border-radius: 55% 45% 40% 60%/50% 70% 30% 50%;
  }
  50% {
      border-radius: 60% 40% 55% 45%/60% 40% 60% 40%;
  }
  75% {
      border-radius: 50% 50% 35% 65%/55% 70% 30% 45%;
  }
}

/* 基本スタイル */
body {
  padding: 1rem;
}
img {
  display: block;
}
h2 {
  margin-top: 3rem;
}

